<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.HelloCordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Meditime</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>

    <!-- Contenido principal de la aplicación -->
    <content src="index.html" />

    <!-- Permisos para intents -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Configuraciones específicas para Android -->
    <platform name="android">
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.VIBRATE" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <uses-permission android:name="android.permission.READ_CONTACTS" />
            <uses-permission android:name="android.permission.WRITE_CONTACTS" />  
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> 
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
        </config-file>
    </platform>
</widget>